.resizer{
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    margin-left: 5px;
    border-right: 1px solid var(--main-color);
}