.table{
    border-collapse: collapse;
    width: 100%;
    max-width: 1400px;
    table-layout: fixed;
    overflow-x: auto;

    & th,
    & td{
        border: 1px solid var(--main-color);
        padding: 4px 8px;
    }

    & th{
        position: relative;
    }
}

.resizer{
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    margin-left: 5px;
    border-right: 1px solid var(--main-color);
}

.sortBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.userTr{
    cursor:pointer;
    transition: background 0.2s;

    &:nth-child(odd){
        background-color: var(--light-main-color);
    }

    &:hover{
        background-color: var(--hover-color);
    }
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}